In [2]:
import pandas as pd
df = pd.read_csv("temperature-quotidienne-departementale.csv", sep=";")
df.head()

,Date,Code INSEE département,Département,TMin (°C),TMax (°C),TMoy (°C)
0,2019-10-22,21,Côte-d'Or,10.90,16.00,13.45
1,2019-10-22,73,Savoie,11.70,18.65,15.18
2,2019-10-22,29,Finistère,7.77,15.48,11.63
3,2019-10-22,48,Lozère,9.70,16.50,13.10
4,2019-10-22,49,Maine-et-Loire,4.40,15.10,9.75